<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/home">Tienda de ropa</a>
   
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/carrito-compras"><i class="fas fa-shopping-cart"></i></a>
        </li>
        
      </ul>
      <form  class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search"  #termino (keyup.enter)="buscar(termino.value)" placeholder="Buscar..." aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="button" (click)="buscar(termino.value)">Buscar</button>
      </form>
    </div>
  </nav> 