<app-loading *ngIf="loading" ></app-loading>
<div class="row">
    <div class="col-8">
        <h1 class="animated fadeIn "> Remera Hombre</h1>
    </div>
    <div class="col-4 text-right">
        <button (click)="volver()" class="btn btn-outline-danger btn.block ">Volver</button>
    </div>
    
</div>

<hr>

<div class="row animated fadeIn">
    <div class="col-md-4">
        <img [src]="ropa.img" class="img-fluid" alt="ropa.nombre" width="300px">
        <br><br>

        <button (click)="agregarCarrito()" class="btn btn-outline-success btn.block">Agregar al carrito </button>
    </div>
    <div class="col-md-8">
        <h3>{{ ropa.nombre}} </h3>
        <hr>
        <p>{{ ropa.talle }}</p>
        <hr>
        <p>{{ ropa.genero }}</p>
        <hr>
        <p> $ {{ ropa.valor }}</p>

    </div>



</div>